Repository SeGonzalezR/ts-graphql-apollo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-standard --lint --fix, prettier-standard

fix(build): corregimos rutas webpack
  package.json
  webpack.dev.js
  webpack.production.js
Due: prettier-standard

docs(readme): agregamos instrucciones para compilar e iniciar app
  README.md
  package.json
Due: prettier-standard

docs(readme): agregamos listado de caracteristicas soportadas
  README.md
  package.json
Due: prettier-standard

fix(apollo): configuramos apollo y separamos en archivos la config
  README.md
  package-lock.json
  package.json
  src/app.ts
  src/config/apollo.ts
  src/config/env.ts
  src/config/logger.ts
  src/config/resolvers.ts
  src/config/schemas.ts
  src/config/types.d.ts
  src/environment.ts
  src/index.ts
  src/main.ts
  src/router.ts
  src/schemas.ts
  src/terminus.ts
  tsconfig.json
  types/dataloader-sequelize/index.d.ts
  webpack.dev.js
  webpack.production.js
Due: prettier-standard --lint --fix, prettier-standard

feat(redis): implementamos redis y agregamos al contexto del request
  package-lock.json
  package.json
  src/app.ts
  src/config/apollo.ts
  src/config/enviroments.ts
  src/config/logger.ts
  src/config/redis.ts
  src/config/resolvers.ts
  src/config/types.d.ts
  src/schema/.gitkeep
  src/schema/index.ts
  src/schema/mutation/.gitkeep
  src/schema/query/.gitkeep
Due: prettier-standard --lint --fix, prettier-standard

chore(folders): agregamos carpetas para router, queues, translations
  src/apollo.ts
  src/app.ts
  src/queues/.gitkeep
  src/router/.gitkeep
  src/translations/.gitkeep
Due: prettier-standard --lint --fix

Update apollo.ts
  src/apollo.ts
Due: prettier-standard --lint --fix

fix(config): ordenamos y agregamos configuracion sentry
  package-lock.json
  package.json
  src/apollo.ts
  src/app.ts
  src/config/enviroments.ts
  src/config/sentry.ts
  src/config/types.d.ts
  src/index.ts
Due: prettier-standard --lint --fix, prettier-standard

docs(readme): actualizamos caracteristicas con redis + sentry
  README.md
Due: none

fix(sentry): corregimos implementacion sentry
  package-lock.json
  package.json
  src/config/sentry.ts
Due: prettier-standard --lint --fix, prettier-standard

docs(readme): actualizamos readme con scripts inicio aplicacion
  README.md
Due: none

feat(schema): agregamos Dummy module para query / mutaciones
  src/apollo.ts
  src/schema/.gitkeep
  src/schema/Dummy.ts
  src/schema/index.ts
  src/schema/mutation/.gitkeep
  src/schema/mutation/index.ts
  src/schema/query/.gitkeep
  src/schema/query/index.ts
Due: prettier-standard --lint --fix

feat(lint): agregamos script para hacer linter de archivos js/ts
  .eslintignore
  README.md
  package.json
  src/apollo.ts
  types/dataloader-sequelize/index.d.ts
  webpack.common.js
  webpack.dev.js
  webpack.production.js
Due: prettier-standard --lint --fix, prettier-standard

chore(env): quitamos comentario
  src/config/enviroments.ts
Due: prettier-standard --lint --fix

feat(test): implementamos test mocha
  .lintstagedrc.json
  README.md
  package-lock.json
  package.json
  src/terminus.test.ts
  src/terminus.ts
Due: prettier-standard --lint --fix, prettier-standard

feat(sequelize): implementamos solucion sequelize-typescript
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  src/app.ts
  src/config/enviroments.ts
  src/config/logger.ts
  src/index.ts
  src/models/Cat.model.ts
  src/models/db.ts
  src/models/index.ts
  src/schema/Dummy.ts
  tsconfig.json
Due: prettier-standard --lint --fix, prettier-standard

docs(database): script base de datos ejemplo
  api_mazos.sql
  database.sql
  tests/docker-entrypoint-initdb.d/initdb.sql
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore: quitamos configs sin uso
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  .nvmrc
  .snyk
  docker-compose.debug.yml
  docker-compose.test.yml
  docker-compose.yml
  tsconfig.json
Due: prettier-standard

docs(vscode): agregamos archivos para vscode
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
Due: prettier-standard

feat(users): agregamos módulo con mock getUserInfo
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .gitignore
  .vscode/api-tests.code-snippets
  .vscode/api.code-snippets
  .vscode/settings.json
  .vscode/tasks.json
  src/schema/query/User/Info/Type/index.d.ts
  src/schema/query/User/Info/Type/input.ts
  src/schema/query/User/Info/Type/payload.ts
  src/schema/query/User/Info/getUserInfo.gql
  src/schema/query/User/Info/index.ts
  src/schema/query/User/Info/resolve.ts
  src/schema/query/index.ts
  src/schema/types.d.ts
Due: prettier-standard --lint --fix, prettier-standard

Set theme jekyll-theme-cayman
  docs/_config.yml
  docs/index.md
Due: prettier-standard

Create readme.md
  docs/readme.md
Due: none

Update readme.md
  docs/readme.md
Due: none

Update index.md
  docs/index.md
Due: none

Path conditions:
  prettier-standard --lint --fix: any of: {src,test}/**/*.{js,ts}
  prettier-standard: any of: *.{json,yml}
